.features
  font-size: $size-4

  +mobile
    font-size: $size-4-mobile


  .column.has-image
    +tablet
      max-width: 320px

  img.is-feature
    +tablet
      max-width: 300px

      &.is-small
        max-width: 128px


    +mobile
      max-width: 256px

      &.is-small
        max-width: 128px
