.github-corner svg {
  border: 0;
  color: #ff9500;
  fill: #fff;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(-1, 1);
}

.dark .github-corner svg {
  color: #ffdb4f;
}

.github-corner svg .octo-arm {
  transform-origin: 130px 106px;
}

.github-corner svg:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0% {
    transform: rotate(0);
  }

  20% {
    transform: rotate(-25deg);
  }

  40% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(-25deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0);
  }
}
